<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gozin.mainboard.delivery.model.dao.DeliveryAddressMapper">

    <select id="selectAddressesByMemberCode" resultType="DeliveryAddressDTO">
        SELECT *
        FROM TB_DELIVERY_ADDRESS A
        WHERE MEMBER_CODE = 1
    </select>

</mapper>