<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gozin.mainboard.inventory.dao.InventoryMapper">


    <select id="selectInventoryListWithPaging" parameterType="SelectCriteria" resultType="BoardgameStockDTO">
        <![CDATA[
         SELECT
                *
          FROM
            (
                SELECT
                    ROWNUM AS RN
                       , P.*
                 FROM (
                          SELECT
                             *
                          FROM TB_BOARDGAME_STOCK A
                          JOIN TB_BOARDGAME_TYPE B ON (A.BOARDGAME_TYPE_CODE = B.BOARDGAME_TYPE_CODE)
                          ORDER BY SERIAL_CODE
                       ) P
            )
            WHERE RN <= #{ endRow }
            AND RN >= #{ startRow }
        ]]>
    </select>

    <select id="selectInventoryTotal" resultType="int">
        SELECT
            count(*)
        FROM TB_BOARDGAME_STOCK
    </select>

    <insert id="insertInventory" parameterType="BoardgameStockDTO">
        INSERT INTO TB_BOARDGAME_STOCK VALUES (SEQ_BOARDGAME_STOCK_SERIAL_CODE.NEXTVAL, #{boardgameTypeCode}, 'A1', '창고',#{ratingCode})
    </insert>

</mapper>