<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gozin.mainboard.inventory.dao.InventoryMapper">


    <select id="selectProductListWithPaging" parameterType="SelectCriteria" resultType="BoardgameStockDTO">
        <![CDATA[
         SELECT
                *
          FROM
            (
                SELECT
                    ROWNUM AS RN
                       , P.*
                 FROM (
                          SELECT
                             *
                          FROM TB_BOARDGAME_STOCK A
                          ORDER BY SERIAL_CODE;
                       ) P
            )
            WHERE RN <= #{ endRow }
            AND RN >= #{ startRow }
        ]]>
    </select>

    <select id="selectBoardgameStockTotal" resultType="int">
        SELECT
            count(*)
        FROM TB_BOARDGAME_STOCK
    </select>
</mapper>