<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gozin.mainboard.order.dao.OrderMapper">
    <select id="selectOrderList" resultType="OrderDTO">
        SELECT *
          FROM TB_ORDER
    </select>

    <select id="selectOrderByOrderId" parameterType="OrderSearchDTO" resultType="OrderDTO">
        SELECT *
          FROM TB_ORDER
         WHERE ORDER_ID LIKE '%'||#{ text }||'%'
    </select>

    <insert id="insertOrderInfo" parameterType="orderDTO">
        INSERT INTO TB_ORDER
        VALUES
        (
         #{orderId},
         #{orderAmount},
         #{couponUsedRate},
         #{pointsUsedAmount},
         #{orderDate},
         #{selectedProduct},
         #{memberCode},
         #{paymentMethod},
         #{deliveryCharge},
         #{usedCouponCode},
         #{deliveryStartYn},
         #{finalOrderAmount}
        )
    </insert>

</mapper>

