<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gozin.mainboard.product.dao.ProductMapper">

    <resultMap id="productResultMap" type="productDTO">
        <id column="BOARDGAME_TYPE_CODE" property="boardgameTypeCode"/>
        <result column="BOARDGAME_NAME" property="boardgameName"/>
        <result column="SOLD_OUT_YN" property="soldOutYn"/>
        <result column="TOTAL_COUNT" property="totalCount"/>
        <result column="DEFAULT_RENTAL_FEE" property="defaultRentalFee"/>
        <result column="MANUFACTURING_COMPANY" property="manufacturingCompany"/>
        <result column="BRAND" property="brand"/>
        <result column="TOTAL_COUNT" property="categoryName"/>
        <result column="S_RENTAL_FEE" property="SRentalFee"/>
        <result column="A_RENTAL_FEE" property="ARentalFee"/>
        <result column="B_RENTAL_FEE" property="BRentalFee"/>
        <result column="S_STATE" property="SState"/>
        <result column="A_STATE" property="AState"/>
        <result column="B_STATE" property="BState"/>
        <collection property="detailInspectionCheckListDTOList" ofType="DetailInspectionCheckListDTO">
            <id column="LIST_CODE" property="listCode"/>
            <result column="BOARDGAME_TYPE_CODE" property="boardgameTypeCode"/>
            <result column="CHECK_CONTENT" property="checkContent"/>
        </collection>

    </resultMap>


    <select id="selectProductListWithPaging" parameterType="SelectCriteria" resultType="ProductDTO">
        <![CDATA[
         SELECT
                *
          FROM
            (
                SELECT
                    ROWNUM AS RN
                       , P.*
                 FROM (
                          SELECT
                              A.BOARDGAME_TYPE_CODE
                               , A.BOARDGAME_NAME
                               , A.SOLD_OUT_YN
                               , A.TOTAL_COUNT
                               , A.DEFAULT_RENTAL_FEE
                               , A.MANUFACTURING_COMPANY
                               , A.BRAND
                               , A.S_RENTAL_FEE
                               , A.A_RENTAL_FEE
                               , A.B_RENTAL_FEE
                               , A.S_STATE
                               , A.A_STATE
                               , A.B_STATE
                               , B.CATEGORY_NAME
                          FROM TB_BOARDGAME_TYPE A
                                   JOIN TB_BOARDGAME_CATEGORY B ON (A.BOARDGAME_CATEGORY_CODE = B.BOARDGAME_CATEGORY_CODE)
                          ORDER BY BOARDGAME_TYPE_CODE
                       ) P
            )
            WHERE RN <= #{ endRow }
            AND RN >= #{ startRow }
        ]]>
    </select>

    <select id="selectProductListWithPagingByProductDTO" parameterType="HashMap" resultType="ProductDTO">
        <![CDATA[
        SELECT
            *
        FROM
            (
                SELECT
                    ROWNUM AS RN
                     , P.*
                FROM (
                         SELECT
                             A.BOARDGAME_TYPE_CODE
                              , A.BOARDGAME_NAME
                              , A.SOLD_OUT_YN
                              , A.TOTAL_COUNT
                              , A.DEFAULT_RENTAL_FEE
                              , A.MANUFACTURING_COMPANY
                              , A.BRAND
                              , A.S_RENTAL_FEE
                              , A.A_RENTAL_FEE
                              , A.B_RENTAL_FEE
                              , A.S_STATE
                              , A.A_STATE
                              , A.B_STATE
                              , B.CATEGORY_NAME
                         FROM TB_BOARDGAME_TYPE A
                         JOIN TB_BOARDGAME_CATEGORY B ON (A.BOARDGAME_CATEGORY_CODE = B.BOARDGAME_CATEGORY_CODE)
                         WHERE A.BOARDGAME_TYPE_CODE = #{searchProductDTO.boardgameTypeCode, jdbcType=VARCHAR}
                            OR A.BOARDGAME_NAME = #{searchProductDTO.boardgameName, jdbcType=VARCHAR}
                            OR A.BRAND = NVL(#{searchProductDTO.brand ,jdbcType=VARCHAR}, '')
                            OR A.DEFAULT_RENTAL_FEE BETWEEN #{searchProductDTO.minFee} AND #{searchProductDTO.maxFee}
                         ORDER BY BOARDGAME_TYPE_CODE
                     ) P
            )
        WHERE RN <= #{ selectCriteria.endRow }
          AND RN >= #{ selectCriteria.startRow }
        ]]>
    </select>

    <select id="selectProductTotal" resultType="int">
        SELECT
            count(*)
        FROM TB_BOARDGAME_TYPE
    </select>

    <select id="selectRequiredPartsList" resultType="RequiredPartDTO">
        SELECT
            *
        FROM TB_REQUIRED_PARTS_LIST
    </select>

    <select id="selectCheckList" resultMap="productResultMap">
        SELECT * FROM TB_BOARDGAME_TYPE A
        JOIN TB_DETAIL_INSPECTION_CHECK_LIST B ON (A.BOARDGAME_TYPE_CODE = B.BOARDGAME_TYPE_CODE)
        JOIN TB_REQUIRED_PARTS_LIST C ON (A.BOARDGAME_TYPE_CODE = C.BOARDGAME_TYPE_CODE)
    </select>
</mapper>