<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gozin.mainboard.product.dao.ProductMapper">

    <select id="selectProductListWithPaging" parameterType="SelectCriteria" resultType="ProductDTO">
        <![CDATA[
         SELECT
                *
          FROM
            (
                SELECT
                    ROWNUM AS RN
                       , P.*
                 FROM (
                          SELECT
                              A.BOARDGAME_TYPE_CODE
                               , A.BOARDGAME_NAME
                               , A.SOLD_OUT_YN
                               , A.TOTAL_COUNT
                               , A.DEFAULT_RENTAL_FEE
                               , A.MANUFACTURING_COMPANY
                               , A.BRAND
                               , B.CATEGORY_NAME
                          FROM TB_BOARDGAME_TYPE A
                                   JOIN TB_BOARDGAME_CATEGORY B ON (A.BOARDGAME_CATEGORY_CODE = B.BOARDGAME_CATEGORY_CODE)
                          ORDER BY BOARDGAME_TYPE_CODE DESC
                       ) P
            )
            WHERE RN <= #{ endRow }
            AND RN >= #{ startRow }
        ]]>
    </select>

    <select id="selectProductTotal" resultType="int">
        SELECT
            count(*)
        FROM TB_BOARDGAME_TYPE
    </select>
</mapper>