<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.gozin.mainboard.member.dto.MemberDTO" alias="MemberDTO"/>
        <typeAlias type="com.gozin.mainboard.coupon.dto.CouponDTO" alias="CouponDTO"/>
        <typeAlias type="com.gozin.mainboard.coupon.dto.SearchCouponDTO" alias="SearchCouponDTO"/>
    </typeAliases>

    <mappers>
        <mapper resource="MemberMapper.xml"/>
        <mapper resource="CouponMapper.xml"/>

    </mappers>
</configuration>